dshelpers==1.1.0
nose
-e git+https://github.com/scraperwiki/messytables#egg=messytables
-e git+https://github.com/scraperwiki/scrumble#egg=scrumble
-e git+https://github.com/scraperwiki/xypath#egg=xypath
-e git+https://github.com/pudo/dataset#egg=dataset
requests
requests_cache
pyhamcrest
sqlalchemy
